body.term-gaming {
    background-color: var(--gray);
}

body.term-gaming #slider,
body.term-gaming #producGrid,
body.term-gaming #footer .activ,
body.term-gaming footer  {
    background-color: transparent;
}

body.term-gaming footer .ftr-bot {
    background-color: var(--black);
}

body.term-gaming #showFilters div .wpfFilterWrapper,
body.term-gaming .productItem {
    background-color: var(--black);
}

body.term-gaming .irs--flat .irs-line,
body.term-gaming  #showFilters .wpfFilterContent .ms-options-wrap > button {
    background-color: var(--black);
}
